@import url("https://fonts.googleapis.com/css?family=Heebo:regular,500,700,900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
body {
  font-family: "Gilroy";
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  height: 100%;
  color: #070707;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 0;
  overflow: hidden;
}

a {
  color: #070707;
}

body._pc .menu__list > li:hover a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-decoration: underline;
}

body._lock {
  overflow: hidden;
}

.header {
  width: 100vw;
  margin: 0 auto;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.7882352941);
  z-index: 10;
}
@media (max-width: 767.98px) {
  .header__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: relative;
    height: 0;
  }
}

@media (min-width: 767.98px) {
  .menu__list {
    height: 88px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (max-width: 767.98px) {
  .menu__list li {
    margin-bottom: 68px;
    font-size: 34px;
  }
}
.menu__item {
  font-weight: 700;
}
.menu__item:not(:first-child) a {
  color: #828282;
}
.menu__icon {
  display: none;
}
@media (max-width: 767.98px) {
  .menu__icon {
    top: 65px;
    text-align: right;
    display: block;
    z-index: 5;
    position: relative;
    width: 34px;
    height: 20px;
    cursor: pointer;
  }
  .menu__icon span, .menu__icon::before, .menu__icon::after {
    right: 0;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #000;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .menu__icon::after, .menu__icon::before {
    content: "";
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
  .menu__icon._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }
  .menu__icon._active::before {
    background-color: #828282;
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu__icon._active::after {
    background-color: #828282;
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
  }
}
@media (max-width: 767.98px) {
  .menu__body {
    position: fixed;
    right: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    padding: 65px 28px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    overflow: auto;
  }
  .menu__body._active {
    right: 0;
  }
  .menu__body._active::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 65px;
    z-index: 2;
    background-color: #ffffff;
  }
}
.menu__language {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: none;
  font-size: 34px;
  height: 45px;
  width: 144px;
  margin-left: -60px;
}
.menu__language._active {
  display: block;
  position: fixed;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  bottom: 60px;
}

.language {
  font-weight: 700;
  line-height: 1;
  justify-self: end;
}
.language span {
  color: #828282;
}

main {
  width: 100vw;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
@media (max-width: 767.98px) {
  main {
    margin: 0px;
  }
}

.container {
  max-width: 964px;
  padding: 0 10px;
  margin: 0 auto;
}
@media (max-width: 944.98px) {
  .container {
    max-width: 860px;
  }
}
@media (max-width: 767.98px) {
  .container {
    padding: 0 28px;
  }
}

.hi {
  padding-top: 88px;
}
@media (max-width: 767.98px) {
  .hi {
    padding-top: 20px;
  }
}
.hi__image {
  height: 387px;
}
@media (max-width: 767.98px) {
  .hi__image {
    height: 478px;
  }
}
.hi__image img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hi-block {
  display: grid;
  grid-template: 118px/repeat(3, auto);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  margin: 40px 0;
}
@media (max-width: 479.98px) {
  .hi-block {
    margin-bottom: 0;
    grid-template-columns: auto;
  }
}
.hi-block__title {
  width: 124px;
  font-weight: 700;
  font-size: 47px;
}
.hi-block__text {
  padding: 12px 0;
}
.hi-block__language {
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  font-size: 16px;
  margin-right: -25px;
}
@media (max-width: 767.98px) {
  .hi-block__language {
    display: none;
  }
}

.slider {
  margin-bottom: 55px;
  overflow: hidden;
}
@media (max-width: 479.98px) {
  .slider {
    margin-bottom: 20px;
  }
}

.swiper-container {
  position: relative;
  overflow: auto;
}

.image-slider .swiper-button-prev::after,
.image-slider .swiper-button-next::after {
  color: #828282;
  font-size: 80px;
}

.image-slider .swiper-button-prev,
.image-slider .swiper-button-next {
  opacity: 0.03;
}
.image-slider .swiper-button-prev:hover,
.image-slider .swiper-button-next:hover {
  opacity: 1;
}

.image-slider__image {
  height: 387px;
}
@media (max-width: 479.98px) {
  .image-slider__image {
    height: 478px;
  }
}
.image-slider__image img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-notification,
.swiper-scrollbar {
  display: none;
}

.title {
  font-weight: 700;
  font-size: 34px;
  text-align: center;
  margin: 20px;
}

.image {
  margin: 45px 0;
}
.image img {
  max-width: 100%;
}
@media (max-width: 767.98px) {
  .image {
    margin: 35px 0;
  }
}

.me {
  background-color: #f6f6f6;
  padding: 100px 0;
}
.me__text {
  margin: 0 auto;
  text-align: center;
  max-width: 505px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 42px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.me__text p {
  padding: 0 10px;
}
@media (max-width: 767.98px) {
  .me__text-br_mob {
    display: block;
  }
}
@media (min-width: 504.98px) {
  .me__text-br_pc {
    display: block;
  }
}

.skills {
  padding: 100px 0;
}
.skills__text {
  text-align: center;
  padding: 20px;
}
@media (max-width: 479.98px) {
  .skills__text {
    padding: 0;
  }
}
.skills__programs {
  display: grid;
  grid-template: 276px/repeat(4, 166px);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-auto-rows: 276px;
}
@media (max-width: 767.98px) {
  .skills__programs {
    grid-template: 276px/repeat(2, 166px);
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
@media (max-width: 479.98px) {
  .skills__programs {
    grid-template: 276px/166px;
  }
}

.program {
  padding-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.program__name {
  text-align: center;
  color: #828282;
  font-size: 14px;
}

.portfolio {
  background-color: #f6f6f6;
  padding: 100px 0;
}
@media (max-width: 767.98px) {
  .portfolio {
    padding: 81px 0;
  }
}
.portfolio__title {
  margin: 0;
}
@media (max-width: 767.98px) {
  .portfolio__title {
    margin-bottom: 45px;
  }
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.item__link {
  text-align: center;
}
.item:not(:last-child) {
  margin-bottom: 55px;
}
@media (max-width: 767.98px) {
  .item:not(:last-child) {
    margin-bottom: 45px;
  }
}

.contacts__container {
  padding: 85px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 479.98px) {
  .contacts__container {
    padding-bottom: 50px;
  }
}
.contacts__text {
  margin-bottom: 30px;
}
@media (max-width: 767.98px) {
  .contacts__text {
    margin: 10px 0 40px;
  }
}
.contacts__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 42px;
  width: 180px;
  background-color: #070707;
  border-radius: 21px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-weight: 700;
}
@media (max-width: 479.98px) {
  .contacts__button {
    width: 316px;
  }
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 46px;
  height: 243px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
}
@media (max-width: 479.98px) {
  .footer__media {
    gap: 50px;
  }
}
.footer__copyrights {
  color: #828282;
  font-size: 14px;
  text-align: center;
}
